.newsfeed {
    border: 1px solid orange;
    flex: 0.7;
    color: white;
}

.newsfeed__portofolio {
    text-align: left;
}

.newsfeed__portofolio h1 {
    margin: 0;
}

.newsfeed__portofolio p {
    margin-top: 0;
}

.newsfeed__buying__section {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #3b4754;
    padding: 20px 0px 20px 0px;
}